@import "tailwindcss";

.walfi-container{

    width:100vw;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#070B14;

    overflow:hidden;

}